<footer>
  <ul>
    <li><a href="https://www.games-workshop.com/en-CA/Boxed-Games?N=3196314429+1822523585&Nr=AND%28product.locale%3Aen_CA_gw%2Csku.siteId%3ACA_gw%29&Nrs=collection%28%29%2Frecord%5Bproduct.startDate+%3C%3D+1659008400000+and+product.endDate+%3E%3D+1659008400000%5D" target="_blank"><%= image_tag "gwlogo.png", height: 50 %></li>
    <li><a href="https://member.thenaf.net/index.php?module=NAF&type=tournaments" target="_blank"><%= image_tag "naf.png", height: 30 %></li>
    <li><a href="https://www.bloodbowl.com/" target="_blank"><%= image_tag "bblogo.jpg", height: 30 %></li>
  </ul>
</footer>
