<nav>
  <ul>
    <li><%= link_to "HOME", "/" %></li>
    <li><%= link_to "LEAGUE", "/league" %></li>
    <li><%= link_to "TOURNAMENT", "/tournament" %></li>
    <li><%= link_to "ABOUT", "/about" %></li>
  </ul>
</nav>
