<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Eye of Nuffle</title>
</head>
<body>
  <p>pages#about</p>
  <li><%= link_to "HOME", "/" %></li>
  <li><%= link_to "LEAGUE", "/league" %></li>
  <li><%= link_to "TOURNAMENT", "/tournament" %></li>
</body>
</html>
