<p>pages#create</p>
<%= render 'shared/navbar' %>
<div>
  <h2>Team Selection</h2>
  <div data-controller="hello">
    <div>
      <ul>
        <li>Human</li>
        <li>Orc</li>
        <li>Dwarf</li>
        <li>Elf</li>
      </ul>
    </div>

    <div>
      <%= render 'shared/team_human' %>
    </div>
  </div>

</div>
