<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <p>pages#home</p>
  <h1>Welcome to Eye of Nuffle</h1>
  <h3>A roster creation tool for Blood Bowl</h3>
  <a href="">Create a Team</a>
</body>
</html>
