<p>pages#home</p>
<%= render 'shared/navbar' %>
<hr>
<h1>Eye of Nuffle</h1>
<h3>A roster creation tool for Blood Bowl</h3>
  <div>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
      Sapiente quod ipsum et veniam. Ratione recusandae laborum
      quisquam. Nisi, necessitatibus! Deleniti unde animi
      asperiores quis ullam earum sint ad delectus odit!
      Lorem ipsum, dolor sit amet consectetur adipisicing elit.
      Sapiente autem tempore iste, expedita minus quam dolorem
      ipsum libero voluptas molestiae dolorum totam qui deleniti,
      impedit optio earum a soluta esse?
    </p>
    <%= image_tag "bb1.png", height: 300 %>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
      Quis vitae, fugit labore quaerat sunt, officia cupiditate
      quia eaque voluptas illum fuga! Ut nobis accusantium, beatae
      quod qui quae dolore aliquam.
    </p>
  </div>
  <%= link_to "Get Started", "/create" %>
  <hr>
  <%= render 'shared/footer' %>
